.sidebar {
  height: 100%;
  width: 265px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  padding-top: 20px;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ccc;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-weight: bold;
}

.sidebar-header h1 {
  margin: 0;
}

.sidebar-logo {
  width: 40px;
  height: auto;
  margin-right: 10px;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
  margin-top: 20px; /* Ajustamos la posición del menú */
}

.sidebar-menu li {
  padding: 15px 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px; /* Bordes redondeados */
  transition: background-color 0.5s, color 0.5s; /* Transiciones suaves */
}

.sidebar-menu li:hover {
  background-color: #007bff;
  color: white;
}

.sidebar-menu li + li {
  margin-top: 15px; /* Margen entre opciones */
}

.sidebar-menu li svg {
  margin-right: 10px;
}
/* Estilos para los enlaces dentro del menú */
.sidebar-menu a {
  color: inherit; /* Hereda el color del texto del contenedor padre */
  text-decoration: none; /* Elimina el subrayado predeterminado de los enlaces */
}

.sidebar-menu a:hover {
  color: white; /* Cambia el color del texto al pasar el ratón */
}

.sidebar-footer {
  margin-top: auto;
  padding: 2px;
  border-top: 0px solid #ccc;
}

.sidebar-footer button {
  width: 100%;
  padding: 15px 30px;
  background-color: transparent; /* Cambiamos el color de fondo a transparente */
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px; /* Agregamos bordes redondeados */

  transition: background-color 0.3s, color 0.3s; /* Agregamos transiciones suaves */
}

.sidebar-footer button:hover {
  background-color: rgb(202, 59, 59); /* Cambiamos el color de fondo al pasar el ratón */
  color: white; /* Cambiamos el color del texto al pasar el ratón */
}

.sidebar-footer button svg {
  margin-right: 10px;
}


/* Barra.css */
.modal-button {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
}

.modal-button:hover {
  opacity: 0.8;
}

/* Estilos para el modal */
/* Estilos para el modal */
.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

/* Estilos para los botones del modal */
.modal-button {
  padding: 12px 80px; /* Aumenta el tamaño del padding para hacer el botón más grande */
  border-radius: 15px;
  font-size: 18px; /* Aumenta el tamaño del texto */
  border: 0.5px solid #425466;
  cursor: pointer;
  margin: 15px; /* Añade margen entre los botones */
  transition: background-color 0.5s, color 0.5s; /* Añade una transición suave */
}

.modal-button:hover {
  opacity: 2.9; /* Cambia la opacidad al pasar el cursor */
}

.modal-button.primary {
  background-color: #ffffff; /* Color de fondo para el botón "Sí" */
  color: rgb(0, 0, 0); /* Color del texto para el botón "Sí" */
}

.modal-button.primary:hover {
  background-color: #002761; /* Color de fondo al pasar el cursor para el botón "Sí" */
  color: rgb(255, 255, 255); /* Color del texto para el botón "No" */

}

.modal-button.secondary {
  background-color: #ffffff; /* Color de fondo para el botón "No" */
  color: rgb(0, 0, 0); /* Color del texto para el botón "No" */
}

.modal-button.secondary:hover {
  background-color: #002761; /* Color de fondo al pasar el cursor para el botón "No" */
  color: rgb(255, 255, 255); /* Color del texto para el botón "No" */

}
