/* Contenedor principal */
.navbar {
    width: 100%;
    background: #FFFFFF;
    color: #000000;
    padding: 1% 15%;
    box-sizing: border-box;
    position: relative;
    z-index: 100;
  }
  
  /* Contenido del navbar */
  .navbar-container {
    display: flex;
    justify-content: space-between; /* Asegura que el logo y el menú estén en extremos opuestos */
    align-items: center;
    width: 100%; /* Asegura que el contenedor ocupe el 100% del ancho */
  }
  
  /* Logo */
  .navbar-logo-container {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    flex-grow: 1; /* Hace que el logo ocupe todo el espacio disponible y se mantenga a la izquierda */
  }
  
  .navbar-logo {
    width: 15%;
    height: auto;
  }
  
  .navbar-title {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  /* Botón para el menú móvil */
  .menu-button {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    display: none; /* Inicialmente oculto en pantallas grandes */
  }
  
  /* Enlaces del menú */
  .navbar-links {
    display: flex;
    align-items: center;
    gap: 2.9rem;
  }
  
  .custom-link {
    text-decoration: none;
    color: #000000;
    font-size: 1.1rem;
    font-weight: 700;
    transition: color 0.3s ease-in-out;
  }
  
  .custom-link:hover {
    color: #007BFF;
  }
  
  /* Botones personalizados (crear cuenta, iniciar sesión) */
  .navbar-buttons {
    display: flex;
    gap: 4rem;
  }
  
  /* Menú móvil */
  .navbar-links.open {
    position: fixed;
    top: 0;
    right: 0;
    width: 40%;
    height: 100vh;
    background: #F7F7F7;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    gap: 1rem;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
  }
  
  /* Botón para cerrar el menú móvil */
  .close-button {
    background: none;
    border: none;
    font-size: 2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
  }
  
  /* Ocultar menú en pantallas pequeñas */
  @media (max-width: 768px) {
    .menu-button {
      display: block; /* Muestra el botón en pantallas pequeñas */
    }
  
    /* Asegura que los enlaces se oculten en pantallas pequeñas */
    .navbar-links {
      display: none;
    }
  
    /* Muestra los enlaces cuando el menú está abierto */
    .navbar-links.open {
      display: flex;
    }
  
    /* Ajusta la barra de navegación para que el logo y los botones estén en los extremos */
    .navbar-container {
      justify-content: space-between;
      width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
    }
  
    /* Asegura que el botón de menú esté alineado a la derecha */
    .menu-button {
      position: absolute;
      right: 25px;
    }

    .navbar-buttons {
        flex-direction: column; /* Los botones estarán en columna */
        gap: 1rem; /* Espacio entre los botones */
      }
  }
  